# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# 🔐 Secrets
.env
.env.*
lib/secret.dart
lib/env.dart

# 🔑 Android signing
android/key.properties
*.jks

# 🔥 Firebase
.firebase/
firebase-debug.log
lib/firebase_options.dart
firebase.json


# 🧪 Temporary & lock files
*.lock
*.tmp
*.bak

# 🧼 OS-specific
.DS_Store
Thumbs.db

# Flutter Web
/web/generated_plugin_registrant.dart

# Flutter Desktop
/windows/
macos/
linux/

# iOS CocoaPods
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# JetBrains
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries

# Editor-specific
*.sublime-workspace
*.code-workspace
*.orig




